
.fc-header-toolbar
{
    display: none;
}

.fc-scroller
{
    height: auto !important;
}

.fc th
{
    font-size: .75rem;
    font-weight: 600;

    padding: .75rem 1rem;

    text-transform: uppercase;

    color: #8898aa;
}

.fc div.fc-row
{
    margin-right: 0;

    border: 0;
}

.fc button .fc-icon
{
    top: -5px;
}

.fc-unthemed td.fc-today
{
    background-color: transparent;
}
.fc-unthemed td.fc-today span
{
    color: #fb6340;
}

.fc-event
{
    font-size: .75rem;

    padding: 0;

    border: 0;
    border-radius: .25rem;
}
.fc-event .fc-title
{
    font-weight: 600;

    display: block;
    overflow: hidden;

    padding: .4rem .5rem;

    white-space: nowrap;
    text-overflow: ellipsis;

    color: #fff;
}
.fc-event .fc-time
{
    float: left;

    margin: 0 0 0 -1px;
    padding: 2px 6px;

    background: rgba(0, 0, 0, .2);
}

.fc-view,
.fc-view > table
{
    overflow: hidden;

    border: 0;
}

.fc-view > table > tbody > tr .ui-widget-content
{
    border-top: 0;
}

.fc-body
{
    border: 0;
}

.fc-icon
{
    font-family: NucleoIcons, sans-serif;
    font-size: 1rem;
    line-height: 35px;

    width: 35px;
    height: 35px;

    border-radius: 50%;
}
.fc-icon:hover
{
    color: #5e72e4;
}

.fc-button
{
    border: 0;
    background: transparent;
    box-shadow: none;
}
.fc-button:focus,
.fc-button:active
{
    outline: 0;
}

.calendar
{
    z-index: 0;
}
.calendar td,
.calendar th
{
    border-color: #eff1f3;
}
.calendar .fc-toolbar
{
    position: relative;
    z-index: 2;

    height: 250px;
    margin-bottom: -2px;

    border-radius: .375rem .375rem 0 0;
    background-color: #fff;
}
@media (max-width: 575.98px)
{
    .calendar .fc-toolbar
    {
        height: 135px;
    }
}
.calendar .fc-day-number
{
    box-sizing: border-box;
    width: 100%;
    padding: .5rem 1rem;
}
@media (min-width: 576px)
{
    .calendar .fc-day-number
    {
        font-size: .875rem;
        font-weight: 600;

        color: #67779d;
    }
}
.calendar .fc-day-header
{
    text-align: left;
}
.calendar .fc-day-grid-event
{
    margin: 1px 9px;
}

[data-calendar-month]
{
    transition: background-image 300ms;

    background-size: contain;
}
@media (prefers-reduced-motion: reduce)
{
    [data-calendar-month]
    {
        transition: none;
    }
}

.card-calendar .card-header
{
    border-bottom: 0;
}

.card-calendar table
{
    background: transparent;
}
.card-calendar table tr > td:first-child
{
    border-left-width: 0;
}
.card-calendar table tr > td:last-child
{
    border-right-width: 0;
}

.widget-calendar
{
    position: relative;
    z-index: 0;
}
.widget-calendar td,
.widget-calendar th
{
    text-align: center;

    border-color: transparent;
}
.widget-calendar .fc-toolbar
{
    margin-top: 1.25rem;
}
.widget-calendar .fc-toolbar h2
{
    font-size: 1rem;
}
.widget-calendar .fc-day-number
{
    width: 100%;
    padding: 0;

    text-align: center;
}
.widget-calendar .fc table
{
    font-size: .875rem;
}
.widget-calendar .fc th
{
    font-size: .75rem;

    padding: .75rem .5rem;
}