{% extends 'admin/base.html.twig' %}

{% block title %}Ajouter une nouvelle compétence{% endblock %}

{% block body %}

    <div class="container-fluid py-2">
        <div class="header-body">
            <div class="row col-12 align-items-center py-4">
                <div class="col-6">
                    <h5 class="text-white d-inline-block mb-0">Compétence</h5>
                </div>
                <div class="col-6 text-end">
                    <a class="btn btn-light" href="{{ path('competence_index') }}">Retour à la liste des compétences</a>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid mt--6">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-header border-0">
                        <h5 class="mb-0">Ajouter une nouvelle compétence</h5>
                    </div>
                    <div class="card-body">
                        {{ include('admin/competence/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
