<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="apple-touch-icon" sizes="76x76" href="{{ asset('front/img/apple-icon.png') }}">
    <title>{% block title %}Ort Junior Conseil{% endblock %}</title>


    {% block stylesheets %}{% endblock %}


</head>

<body class="index-page">

<div class="wrapper">

    {% block body %}

    {% endblock %}


    <footer class="footer has-cards">
    </footer>
</div>




{% block javascripts %}{% endblock %}

</body>

</html>